
@media print {
  @page {size: landscape}

  html, body {
    width: 297mm;
    height: 210mm;
  }

  .selection {
     visibility: hidden;
  }

  .svgContainer {
    transform: scale(.6);
    left: -19%;
    top: -12%;
    position: absolute;
  }
  .svgContainer1 {
    transform: scale(.6);
    right: -19%;
    top: -12%;
    position: absolute;
  }
}


/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
  .svgContainer {
    z-index: 999;
    width: 40%;
    top: 0%;
    left: 0%;
    position: relative;
  }

  .svgContainer1 {
    z-index: 999;
    width: 40%;
    top: 0%;
    left: 45%;
    position: absolute;
  }

  .selection {
    position:absolute;
    top: 1%;
    right:0%;
    font-size: 100%;
    width: 190px;
    z-index: 99;
    height: 100vh;
    transform-origin: top right;
  }

  .bodyDiv {
    width: 100%;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
  .svgContainer {
    z-index: 999;
    width: 40%;
    top: 10px;
    position: relative;
    transform: scale(1.2);
    padding-bottom: 3%;
  }

  .svgContainer1 {
    z-index: 999;
    width: 40%;
    position: relative;
    top: 0%;
    right: 15%;
    transform: scale(1.2);
  }

  .selection {
    position:absolute;
    top: 1%;
    right:0%;
    font-size: 100%;
    width: 190px;
    z-index: 99;
    height: 100vh;
    transform-origin: top right;
  }

  .bodyDiv {
    width: 100%;
  }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
  .svgContainer {
    z-index: 999;
    width: 40%;
    top: 0%;
    left: 0%;
    position: relative;
  }

  .svgContainer1 {
    z-index: 999;
    width: 40%;
    top: 0%;
    left: 45%;
    position: absolute;
  }

  .selection {
    position:absolute;
    top: 1%;
    right:0%;
    font-size: 100%;
    width: 190px;
    z-index: 99;
    height: 100vh;
    transform-origin: top right;
  }

  .bodyDiv {
    width: 100%;
  }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
  .svgContainer {
    z-index: 999;
    width: 40%;
    top: 10px;
    position: relative;
    transform: scale(1.2);
    padding-bottom: 3%;
  }

  .svgContainer1 {
    z-index: 999;
    width: 40%;
    position: relative;
    top: 0%;
    right: 15%;
    transform: scale(1.2);
  }

  .selection {
    position:absolute;
    top: 1%;
    right:0%;
    font-size: 100%;
    width: 190px;
    z-index: 99;
    height: 100vh;
    transform-origin: top right;
  }

  .bodyDiv {
    width: 100%;
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
  .svgContainer {
    z-index: 999;
    width: 40%;
    top: 0%;
    position: relative;
  }

  .svgContainer1 {
    z-index: 999;
    width: 40%;
    position: absolute;
    top: 0%;
    right: 15%;
  }

  .selection {
    position:absolute;
    top: 1%;
    right:0%;
    font-size: 100%;
    width: 190px;
    z-index: 99;
    height: 100vh;
    transform-origin: top right;
  }

  .bodyDiv {
    width: 100%;
    height: 100%;
  }

  .copyButton {
    height: 3%;
    width: 80%;
  }
}

.printButton {
  float: right;
  margin-right: 20%;
}