.svgContainer {
  z-index: 999;
  width: 40%;
  top: 0%;
}

.svgContainer1 {
  z-index: 999;
  width: 40%;
  position: absolute;
  top: 0%;
  right: 15%;
}

.selection {
  position:absolute;
  top: 1%;
  right:0;
  font-size: 20px;
  width: 200px;
  z-index: 99;
  overflow: auto
}



@media print {
  @page {size: landscape}

  html, body {
    width: 297mm;
    height: 210mm;
  }

  .selection {
     visibility: hidden;
  }

  .svgContainer {
    transform: scale(.6);
    left: -10%;
    top: -10%;
    position: absolute;
  }
  .svgContainer1 {
    transform: scale(.6);
    right: 20%;
    top: -10%;
    position: absolute;
  }

}